{% extends "layout.html" %}

{% block title %}
Hero Planner
{% endblock %}

{% block content %}
<div style="font-size: 26px;">
    <table>
        <tr>
            <td>Project’s Title:</td>
            <td>Hero Planner</td>
        </tr>
        <tr>
            <td>My Name:</td>
            <td>Martin Konrad Hofstetter</td>
        </tr>
        <tr>
            <td>GitHub username:</td>
            <td>Bjarnshargl</td>
        </tr>
        <tr>
            <td>edX username:</td>
            <td>martinhofstetter</td>
        </tr>
        <tr>
            <td>My city and country:</td>
            <td>83666 Waakirchen, Germany</td>
        </tr>
        <tr>
            <td>video recording date:</td>
            <td>08/19/2026</td>
        </tr>
    </table>
</div>
<h1>My Application
</h1>
<p>Anyone who plays Diablo II—whether the original version or the “Resurrected” version—is familiar with this
    process. You plan to create a new character and, along with that, a new build, and you think about which
    pieces of equipment you need to collect overall and which ones you already own. My web application is
    designed to provide a little help with this.</p>
<h2>Runes</h2>
<p>Runes are important in this game for crafting special, particularly powerful equipment.
    This is done through so-called…</p>
<h2>Rune Words</h2>
<p>A rune word combines specific runes in a fixed order and places them in a suitable blank item that has
    the correct number of sockets. This creates powerful…</p>
<h2>Items</h2>
<p>Sure, rune words are among the strongest items in the game, but there are also unique items and set items
    on the collection list.</p>
<h2>Mercenaries</h2>
<p>Every hero has a loyal companion whose equipment should be managed, just as…</p>
<h2>Hero</h2>
<p>…as that of the hero himself.
<p>My software helps manage runes, rune words, items, mercenaries, and the hero himself as you collect them.</p>
<h1>Use of AI</h1>
<p>I used AI to create my CSS document and to generate the image content. Since English is not my native language,
    I also used it occasionally to translate from German to English.</p>

{% endblock %}


