{% extends "layout.html" %}

{% block title %}
    Hero Planner
{% endblock %}

{% block content %}
    <table>
        <tbody>
        <tr>
            <td><img src="{{ url_for('static', filename='images/char.png') }}" alt="Hero Planner" width="400"></td>
            <td>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Slot</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Weapon Set 1: Main Hand</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Weapon Set 1: Shield</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}