<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}HeroPlanner{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/heroes">Heroes</a>
        <a href="/planner">Planner</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>