<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}HeroPlanner{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <a href="/">Home</a>
                <label>
            <select name="hero" onchange="window.location.href=this.value;">
                <option disabled selected>Hero</option>
                <option value="{{ url_for('show_hero') }}">Show</option>
                <option value="{{ url_for('create_hero') }}">Create</option>
                <option value="{{ url_for('delete_hero') }}">Delete</option>
            </select>
        </label>
        <label>
            <select name="merc" onchange="window.location.href=this.value;">
                <option disabled selected>Mercenary</option>
                <option value="{{ url_for('show_merc') }}">Show</option>
                <option value="{{ url_for('create_merc') }}">Create</option>
                <option value="{{ url_for('delete_merc') }}">Delete</option>
            </select>
        </label>
        <label>
            <select name="items" onchange="window.location.href=this.value;">
                <option disabled selected>Items</option>
                <option value="{{ url_for('show_items') }}">Show</option>
                <option value="{{ url_for('create_items') }}">Create</option>
                <option value="{{ url_for('delete_items') }}">Delete</option>
            </select>
        </label>
        <label>
            <select name="show_runes" onchange="window.location.href=this.value;">
                <option disabled selected>Runes</option>
                <option value="{{ url_for('show_runes') }}">Show</option>
            </select>
        </label>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>