{% extends "layout.html" %}

{% block title %}
    Hero Planner
{% endblock %}

{% block content %}
    <div class="section">
        <h2>Items</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Item Class</th>
                <th>Runeword</th>
                <th>ethereal</th>
                <th>url</th>
                <th>comment</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.item_class }}</td>
                    <td>{{ "Yes" if item.runeword_id else "No" }}</td>
                    <td>{{ "Yes" if item.ethereal else "No"}}</td>
                    <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                    <td>{{ item.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}