{% extends "layout.html" %}

{% block title %}
Hero Planner
{% endblock %}

{% block content %}
<div class="section">
    <h2>Runewords</h2>
    <div class="section">
        <h2>Items</h2>
        <form action="/show_runewords" method="post">
            <div>
                <p>
                    <select name="runeword_name" required>
                        <option value="" disabled selected>Runeword Name</option>
                        {% for rune in runeword_names %}
                        <option value="{{ rune['name'] }}">{{ rune['name'] }}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
            <button type="submit">Show Selection</button>
        </form>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rune ID</th>
                <th>Position</th>
                <th>Name</th>
                <th>Tier</th>
                <th>Item Type</th>
            </tr>
            </thead>
            <tbody>
            {% for runeword in runewords %}
            <tr>
                <td>{{ runeword.runeword_name }}</td>
                <td>{{ runeword.rune_name }}</td>
                <td>{{ runeword.tier }}</td>
                <td>{{ runeword.rune_id }}</td>
                <td>{{ runeword.position }}</td>
                <td>{{ runeword.item_type }}</td>
                <td>{{ runeword.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}